body,
html {
    width: 100%;
    height: 100%
}

@media (min-width:992px) {
    .portfolio-item {
        max-width: none;
        margin: 0
    }
    .portfolio-item .caption {
        -webkit-transition: -webkit-clip-path .25s ease-out, background-color .7s;
        -webkit-clip-path: inset(0);
        clip-path: inset(0)
    }
    .portfolio-item .caption .caption-content {
        -webkit-transition: opacity .25s;
        transition: opacity .25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem
    }
    .portfolio-item img {
        -webkit-transition: -webkit-clip-path .25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px)
    }
    .portfolio-item:hover img {
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem)
    }
    .portfolio-item:hover .caption {
        background-color: rgba(29, 128, 159, .9);
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem)
    }
}